
#divider {
    top: 0; 
    left: 50%; 
    width: 4px; 
    height: 100%; 
    position: fixed; 
    background-color: lightgray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.highlight ,
#source-file p:hover,
#destination-file p:hover {
    background-color: #dff;
}

textarea {
    width: 100%;
    resize: none;
}

.editing {
    background-color: #dfd;
}

p {
    cursor: pointer;
    border-radius: 5px;
}