
#divider {
    top: 0; 
    left: 50%; 
    width: 4px; 
    height: 100%; 
    position: fixed; 
    background-color: lightgray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#source-file p:hover,
#destination-file p:hover {
    background-color: lightgreen;
}

.highlight {
    background-color: cyan;
}

.editing {
    background-color: #cfc;
}

.editing_bis {
    background-color: #cff;
}
