<div class="body" ng-controller="bodyController">
    <div id="files-content" class="container-fluid">
    </div>

    <div class="file-prompt file-prompt-left" ng-if="files.source.content === null">
        <p>You have not selected the source file</p>
        <p><button ng-click="openFile('source')">Select file</button></p>
    </div>

    <div class="file-prompt file-prompt-right" ng-if="files.target.content === null">
        <p>You have not selected the target file</p>
        <p><button ng-click="openFile('target')">Select file</button></p>
        <div ng-show="files.source.content !== null">
            <p>Or</p>
            <p><button ng-click="copySource()">Copy source</button></p>
        </div>
    </div>
</div>
