<div class="container-fluid" ng-controller="headerController">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-7 text-left">
                    <span class="file-name">
                        <span ng-show="files.source.name">
                            {{ removeExtension(files.source.name) }}<span ng-show="files.source.dirty">*</span>
                        </span>
                        <em ng-show="!files.source.name">(No file selected)</em>
                    </span>
                </div>
                <div class="col-sm-5 text-right">
                    <a ng-click="closeFile('source')" class="btn btn-danger btn-xs" ng-show="files.source.name">
                        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                        Close
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7 text-left">
                    <a class="btn btn-info btn-xs" ng-click="openFile('source')">
                        <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                        Open
                    </a>
                    <a class="btn btn-primary btn-xs" ng-click="saveFile('source')" ng-show="files.source.content !== null">
                        <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i>
                        Save
                    </a>
                    <a class="btn btn-primary btn-xs" ng-click="saveFileAs('source')" ng-show="files.source.content !== null">
                        <i class="glyphicon glyphicon-floppy-save" aria-hidden="true"></i>
                        Save as
                    </a>
                </div>
                <div class="col-sm-5 text-right">
                    <select class="select-language"
                        ng-model="sourceLang"
                        ng-options="language.code as language.name for language in mainLanguages"
                        ng-change="languageSelected('source', sourceLang)">
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-7 text-left">
                    <span class="file-name">
                        <span ng-show="files.target.name">
                            {{ removeExtension(files.target.name) }}<span ng-show="files.target.dirty">*</span>
                        </span>
                        <em ng-show="!files.target.name">{{ files.target.content? 'Unnamed*': 'No file selected' }}</em>
                    </span>
                </div>
                <div class="col-sm-5 text-right">
                    <a class="btn btn-danger btn-xs" ng-click="closeFile('target')" ng-show="files.target.name">
                        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                        Close
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7 text-left">
                    <a class="btn btn-info btn-xs" ng-click="openFile('target')">
                        <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                        Open
                    </a>
                    <a class="btn btn-primary btn-xs" ng-click="saveFile('target')" ng-show="files.target.content !== null">
                        <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i>
                        Save
                    </a>
                    <a class="btn btn-primary btn-xs" ng-click="saveFileAs('target')" ng-show="files.target.content !== null">
                        <i class="glyphicon glyphicon-floppy-save" aria-hidden="true"></i>
                        Save as
                    </a>
                    <a class="btn btn-primary btn-xs" ng-click="copySource()" ng-show="files.target.content === null && files.source.content !== null">
                        <i class="glyphicon glyphicon-copy" aria-hidden="true"></i>
                        Copy source
                    </a>
                </div>
                <div class="col-sm-5 text-right">
                    <select class="select-language"
                        ng-model="targetLang" 
                        ng-options="language.code as language.name for language in mainLanguages" 
                        ng-change="languageSelected('target', targetLang)">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div> 
