<div class="modal-header">
    <button type="button" class="close" style="margin-top:8px;" data-dismiss="dialog" data-ng-click="cancel()">
        <small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>
    </button>
    <h2 class="modal-title" id="modal-title">Settings</h2>
</div>
<div class="modal-body">
    <uib-tabset active="activeTab">
      <uib-tab index="0" heading="Spellchecker settings">
          <div>
              <button class="btn btn-primary btn-sm" ng-click="checkAll()">
                  Check all
              </button>
              <button class="btn btn-primary btn-sm" ng-click="checkWithSpellchecker()">
                  Check all with spellchecker
              </button>
              <button class="btn btn-info btn-sm" ng-click="uncheckAll()">
                  Un-check all
              </button>
          </div>

          <table class="table">
              <thead>
                  <tr>
                      <th class="text-center">Active</th>
                      <th>Language</th>
                      <th class="text-center">Spellchecker</th>
                      <th class="text-center">Yandex</th>
                      <th class="text-center">Microsoft</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="lang in languages">
                      <td class="text-center cell-middle">
                          <input type="checkbox"
                              class="clickable"
                              ng-checked="langSettings.disabled.indexOf(lang.code) < 0"
                              ng-click="toggleLanguage(lang)"
                          />
                      </td>
                      <td class="cell-middle">{{ lang.name }}</td>
                      <td class="text-center">
                          <i class="glyphicon glyphicon-remove text-muted" aria-hidden="true" ng-if="!lang.spellcheck"></i>
                          <select class="form-control"
                              ng-if="lang.spellcheck"
                              ng-model="langSettings.locales[lang.code]"
                              ng-options="option.locale as option.place for option in lang.spellcheck"
                              ng-change="localeUpdated(lang)"
                          >
                          </select>
                      </td>
                      <td class="text-center cell-middle">
                          <i class="glyphicon glyphicon-ok text-success" aria-hidden="true" ng-if="lang.yandex"></i>
                          <i class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ng-if="!lang.yandex"></i>
                      </td>
                      <td class="text-center cell-middle">
                          <i class="glyphicon glyphicon-ok text-success" aria-hidden="true" ng-if="lang.microsoft"></i>
                          <i class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ng-if="!lang.microsoft"></i>
                      </td>
                  </tr>
              </tbody>
          </table>
      </uib-tab>

      <uib-tab index="1" heading="Translation settings">
          <table class="table">
              <thead>
                  <tr>
                      <th class="text-center">Active</th>
                      <th>Engine</th>
                      <th>API Token</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="text-center">
                          <div class="checkbox">
                              <input type="checkbox"
                                  class="clickable"
                                  name="yandex_enabled"
                                  ng-model="yandex.enabled"
                                  ng-disabled="!yandex.token"
                                  ng-change="updateTranslation('yandex')"
                              />
                          </div>
                      </td>
                      <td class="cell-middle">Yandex</td>
                      <td>
                          <input type="text"
                              class="form-control"
                              name="yandex_token"
                              ng-model="yandex.token"
                              ng-blur="updateTranslation('yandex')"
                          />
                      </td>
                  </tr>
                  <tr>
                      <td class="text-center">
                          <div class="checkbox">
                              <input type="checkbox"
                                  class="clickable"
                                  name="microsoft_enabled"
                                  ng-model="microsoft.enabled"
                                  ng-disabled="!microsoft.token"
                                  ng-change="updateTranslation('microsoft')"
                              />
                          </div>
                      </td>
                      <td class="cell-middle">Microsoft</td>
                      <td>
                          <input type="text"
                              class="form-control"
                              name="microsoft_token"
                              ng-model="microsoft.token"
                              ng-blur="updateTranslation('microsoft')"
                          />
                      </td>
                  </tr>
              </tbody>
          </table>

          <!-- TODO: Show warning if the engine selected don't supports the current languages -->
          <!-- TODO: Put links explaining how to get the tokens -->
      </uib-tab>

      <uib-tab index ="2" heading="About">
          <br>
          <p><strong>PlainCAT</strong> is a simple Computer Assisted Translation tool for translate plain text files</p>
          <!-- TODO: Extend explanation and describe features and limitations -->
      </uib-tab>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-sm-12 text-right">
            <button class="btn btn-danger" type="button" ng-click="cancel()">
                Close
            </button>
        </div>
    </div>
</div>