/* --- Layout --- */

html,
body {
    height: 100%;
    margin: 0;
}

.main-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header {
    flex: 0 1 auto;
    background-color: #073642;
    padding: 3px;
}

main {
    flex: 1 1 auto;
    overflow-y: auto;
    margin-bottom: 3px;
    margin-top: 3px;
}

footer {
    flex: 0 1 30px;
    background-color: #073642;
}

footer > div {
    padding: 3px;
    max-height: 200px;
    overflow-y: auto;
}

/* --- Header and footer --- */

.file-name {
    color: white;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
}

.file-name > em {
    color: #bbb;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
}

.select-language {
    font-size: 13px;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 3px;
}

.separator:after {
    content: ' |';
    color: #994;
    margin-left: 4px;
    margin-right: 4px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.translation-result,
.translation-loading,
.translation-error {
    font-size: 13px;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, sans-serif;
}

.translation-result {
    color: white;
}

.translation-loading {
    color: #bbb;
    margin-top: 5px;
}

.translation-error {
    color: #f77;
}

/* --- Body --- */

main textarea {
    width: 100%;
    resize: none;
}

main .editing {
    background-color: #dfd;
}

main p {
    cursor: pointer;
    border-radius: 5px;
}

#source-file p:hover,
#target-file p:hover,
#source-file .highlight,
#target-file .highlight {
    background-color: #dff;
}

.nice-scroll::-webkit-scrollbar {
    width: 10px;
}
 
.nice-scroll::-webkit-scrollbar-thumb {
    background: #669;
    border-radius: 20px;
}

.nice-scroll::-webkit-scrollbar-thumb:hover {
    background: #66e;
}

.nice-scroll::-webkit-scrollbar-thumb:active {
    background: #55d;
}

.nice-scroll::-webkit-scrollbar-track {
    background: #ddf;
    border-radius: 20px;
}

/* --- Modal --- */

div.modal-body h2 {
    margin-top: 5px;
}

div.modal-content {
    padding: 0 10px;
}

div.modal-content .nav-tabs {
    margin-bottom: 8px;
}

/* --- Misc --- */

table > thead > tr > th.cell-middle,
table > tbody > tr > td.cell-middle {
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.capitalize {
    text-transform: capitalize;
}
