<div class="container-fluid" ng-controller="bodyController">
    <div class="row">
        <!-- Source file -->
        <div class="col-xs-6">
            <div class="text-center" ng-hide="files.source.content !== null">
                <br><br><br><br><br>
                <p>You have not selected the source file</p>
                <p><button ng-click="openFile('source')">Select file</button></p>
            </div>

            <div id="source-file"></div>
        </div>

        <!-- Target file -->
        <div class="col-xs-6">
            <div class="text-center" ng-hide="files.target.content !== null">
                <br><br><br><br><br>
                <p>You have not selected the target file</p>
                <p><button ng-click="openFile('target')">Select file</button></p>
                <div ng-show="files.source.content !== null">
                    <p>Or</p>
                    <p><button ng-click="copySource()">Copy source</button></p>
                </div>
            </div>

            <div id="target-file" class=""></div>
        </div>
    </div>
</div>
