<div ng-controller="footerController" class="container-fluid nice-scroll">
    <p  class="translation-loading" ng-show="loading">
        Translating text...
    </p>

    <div ng-hide="loading">
        <p class="translation-result" ng-show="translation && !error">
            {{ translation }}
        </p>

        <p class="translation-error" ng-show="error">
            Translation could not be obtained
            ({{ error }})
        </p>

        <div class="row" ng-show="translation && !error">
            <div class="col-sm-6 text-left">
                <a ng-show="poweredBy === 'yandex'" href="http://translate.yandex.com/" target="_blank">
                    <small>Powered by Yandex.Translate</small>
                </a>
                <a ng-show="poweredBy === 'microsoft'" href="https://translator.microsoft.com/" target="_blank">
                    <small>Powered by Microsoft Translator</small>
                </a>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-primary btn-xs" ng-click="pasteTranslation(translation)">
                    <i class="glyphicon glyphicon-paste" aria-hidden="true"></i>
                    Paste translation
                </button>
            </div>
        </div>
    </div>
</div>
