<div class="modal-body">
    <h2>Settings</h2>

    <uib-tabset active="activeTab">
      <uib-tab index="0" heading="General settings">
          <br><br>
          <em>Section under construction...</em>
          <br><br><br>
      </uib-tab>

      <uib-tab index="1" heading="Translation settings">
          <br><br>
          <em>Section under construction...</em>
          <br><br><br>
      </uib-tab>

      <uib-tab index ="2" heading="About">
          <br><br>
          <em>Section under construction...</em>
          <br><br><br>
      </uib-tab>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-sm-6 text-left">
            <button class="btn btn-danger" type="button" ng-click="cancel()">Close</button>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
        </div>
    </div>
</div>