
#divider {
    top: 0; 
    left: 50%; 
    width: 4px; 
    height: 100%; 
    position: fixed; 
    background-color: #ddf;
    border-left: 1px solid #66c;
    border-right: 1px solid #66c;
    z-index: 40px;
}

#header {
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #66c;
    background-color: #ddf;
    padding: 3px;
    z-index: 50;
    height: 46px;
}

#header .file-name {
    font-size: 10pt;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#header .file-options {
    font-size: 10pt;
    margin-top: 2px;
}

#header a.btn-close,
#header a.btn-open,
#header a.btn-save,
#header a.btn-save-as {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#header a.btn-close:hover,
#header a.btn-open:hover,
#header a.btn-save:hover,
#header a.btn-save-as:hover {
    text-decoration: none;
    cursor: pointer;
}

#header a.btn-close { color: #800; }
#header a.btn-open { color: #880;}
#header a.btn-save { color: #008; }
#header a.btn-save-as { color: #808; }

#header a.btn-close:hover { color: #c00; }
#header a.btn-open:hover { color: #cc0; }
#header a.btn-save:hover { color: #00c; }
#header a.btn-save-as:hover { color: #c0c; }

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    border-top: 1px solid #66c;
    background-color: white;
    overflow-y: auto;
    z-index: 50;
}

#footer > div {
    border-top: 4px solid #ddf;
    padding: 3px;
    height: 80px;
}

#footer .loading {
    color: gray;
}

#footer .error {
    color: darkred;
}

#footer .powered-by {
    color: darkblue;
    font-size: 8pt;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: right;
}

#footer .powered-by > a {
    color: darkblue;
    background-color: #eef;
    border: 1px solid darkblue;
    border-radius: 2px;
    padding: 3px 4px;
}

#footer .powered-by > a:hover {
    text-decoration: none;
}

#body {
    margin-top: 46px; /* match with #header height */
    margin-bottom: 80px; /* match with #footer height */
    padding-top: 4px;
    padding-bottom: 4px;
}

#source-file p:hover,
#target-file p:hover,
#source-file .highlight,
#target-file .highlight {
    background-color: #dff;
}

#body textarea {
    width: 100%;
    resize: none;
}

#body .editing {
    background-color: #dfd;
}

#body p {
    cursor: pointer;
    border-radius: 5px;
}

div.modal-content {
    padding: 0 10px;
}
