/* --- Main layout --- */

html,
body {
    height: 100%;
    margin: 0;
}

.main-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header {
    flex: 0 1 auto;
    border-bottom: 1px solid #66c;
    background-color: #ddf;
    padding: 3px;
}

main {
    flex: 1 1 auto;
    overflow-y: auto;
}

footer {
    flex: 0 1 30px;
    border-top: 1px solid #66c;
    background-color: #ddf;
}

footer > div {
    padding: 3px;
    max-height: 200px;
    overflow-y: auto;
}

/* --- Classes --- */

header .file-name {
    font-size: 10pt;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header .file-options {
    font-size: 10pt;
    margin-top: 2px;
}

header a.btn-close,
header a.btn-open,
header a.btn-save,
header a.btn-save-as {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

header a.btn-close:hover,
header a.btn-open:hover,
header a.btn-save:hover,
header a.btn-save-as:hover {
    text-decoration: none;
    cursor: pointer;
}

header a.btn-close { color: #800; }
header a.btn-open { color: #880;}
header a.btn-save { color: #008; }
header a.btn-save-as { color: #808; }

header a.btn-close:hover { color: #c00; }
header a.btn-open:hover { color: #cc0; }
header a.btn-save:hover { color: #00c; }
header a.btn-save-as:hover { color: #c0c; }

main textarea {
    width: 100%;
    resize: none;
}

main .editing {
    background-color: #dfd;
}

main p {
    cursor: pointer;
    border-radius: 5px;
}

#source-file p:hover,
#target-file p:hover,
#source-file .highlight,
#target-file .highlight {
    background-color: #dff;
}

div.modal-content {
    padding: 0 10px;
}

/* --- Components --- */

.separator:after {
    content: ' |';
    color: #66d;
    margin-left: 4px;
    margin-right: 4px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.translation-result,
.translation-loading,
.translation-error {
    font-size: 10pt;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, sans-serif;
}

.translation-loading {
    color: #444;
    margin-top: 5px;
}

.translation-error {
    color: darkred;
}

.nice-scroll::-webkit-scrollbar {
    width: 10px;
}
 
.nice-scroll::-webkit-scrollbar-thumb {
    background: #669;
    border-radius: 20px;
}

.nice-scroll::-webkit-scrollbar-thumb:hover {
    background: #66e;
}

.nice-scroll::-webkit-scrollbar-thumb:active {
    background: #55d;
}

.nice-scroll::-webkit-scrollbar-track {
    background: #ddf;
    border-radius: 20px;
}
