/* --- Layout --- */

html,
body {
    height: 100%;
    margin: 0;
}

.main-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header {
    flex: 0 1 auto;
    border-bottom: 1px solid #66c;
    background-color: #ddf;
    padding: 3px;
}

main {
    flex: 1 1 auto;
    overflow-y: auto;
}

footer {
    flex: 0 1 30px;
    border-top: 1px solid #66c;
    background-color: #ddf;
}

footer > div {
    padding: 3px;
    max-height: 200px;
    overflow-y: auto;
}

/* --- Classes --- */

main textarea {
    width: 100%;
    resize: none;
}

main .editing {
    background-color: #dfd;
}

main p {
    cursor: pointer;
    border-radius: 5px;
}

#source-file p:hover,
#target-file p:hover,
#source-file .highlight,
#target-file .highlight {
    background-color: #dff;
}


.file-name {
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
}

.file-name > em {
    color: #555;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
}

.select-language {
    font-size: 13px;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 3px;
}

.separator:after {
    content: ' |';
    color: #66d;
    margin-left: 4px;
    margin-right: 4px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.translation-result,
.translation-loading,
.translation-error {
    font-size: 13px;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, sans-serif;
}

.translation-loading {
    color: #444;
    margin-top: 5px;
}

.translation-error {
    color: darkred;
}

.nice-scroll::-webkit-scrollbar {
    width: 10px;
}
 
.nice-scroll::-webkit-scrollbar-thumb {
    background: #669;
    border-radius: 20px;
}

.nice-scroll::-webkit-scrollbar-thumb:hover {
    background: #66e;
}

.nice-scroll::-webkit-scrollbar-thumb:active {
    background: #55d;
}

.nice-scroll::-webkit-scrollbar-track {
    background: #ddf;
    border-radius: 20px;
}

/* --- Miscellaneous --- */

div.modal-content {
    padding: 0 10px;
}
